

.adress{
    text-align: left;
    color: grey;
}
.adress:hover{
    color: greenyellow;
}

.name {
    text-align: left;
    color:grey
}

.name:hover{
    color: greenyellow;
}    


.icn {
    display: block;
    background-color: black;
    margin: 5%;
    padding: 5%;
    border: 50%;
    position: relative;
    
}

.pic {
    transform: scale(0.4);
    cursor: pointer;
    position: sticky;
    
}

.bt{
    color: grey;
    padding: 15px;
    cursor: pointer;
    
}

.account{
    cursor: copy;
}


@media pic{
    width: 100px;
    
}